.mobile-nav-wrapper {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
    pointer-events: none;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }

    ul {
        all: unset;
    }

    .mobile-nav-content {
        position: relative;
        background-color: white;
        padding: 1rem;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        left: -100%;
        transition: left 0.5s ease-in-out;
    }

    &.open .mobile-nav-content {
        left: 0;
    }

    .mobile-nav-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
        transition: background-color 1s ease-in-out;
    }

    &.open .mobile-nav-backdrop {
        background-color: rgba(0,0,0,0.7);
    }
}
