$width: 50vmin;
$spine-width: 10vmin;

.image-wrapper {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.product,
.product img, 
.product-front,
.product-back {
    position: absolute;
    top: 0;
    left: 0;
}

.product {
    padding-top: 150%;
    height: 0;
    width: 100%;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.product-front {
    display: block;
    position: absolute;
    transform: translateZ(calc($spine-width / 2 ));
}

.product-back {
    display: block;
    position: absolute;
    transform: rotateY(180deg) translateZ(calc($spine-width / 2 ));
}