$gap: 20px;

.left {
    position: relative;
    display: flex;
    align-items: center;
    gap: $gap;
}

.right {
    position: relative;
    display: flex;
    align-items: center;
    gap: $gap;
    div {
        display: inline-block;
    }
    .search {
        display: flex;
        align-items: center;
        gap: 0.2em;
        svg {
            vertical-align: -0.2em;
        }
    }
    .cart {
        display: flex;
        align-items: center;
        gap: 0.2em;
        svg {
            vertical-align: -0.2em;
        }
    }
}

.left, .right {
    @media (max-width: 768px) {
        display: none;
    }
}

.left.mobile, .right.mobile {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}