$header-height: 10vh;

.product-page-wrapper {
    position: relative;
    display: flex;
    margin-top: $header-height;
    
    .image-wrapper {
        flex-basis: 400px;
        position: relative;
        padding-top: 100%;
        img {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }    
    .product-info {
        flex-grow: 1;
    }
    .buy-now {
        all: unset;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        background-color: rgb(255, 197, 7);
        border: 1px solid #000;
        cursor: pointer;
    }
}