.atc-btn {
    display: block;

}

.atc-btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}





// NNNNNNeeeeedddddd a hook to connect cart with atc function so the cart will have a noti
// so now I have made a atc function that adds the products to mongodb