@import "tailwindcss";

:root {
  --primary: oklch(0.2407 0.0349 31.44);
  --secondary: oklch(100% 0 0);
  --header-height: 8rem;
  --header-height-mobile: 3rem;
  --desktop-left-nav-width: 300px;
  --desktop-right-nav-width: 200px;
  --desktop-info-pages-padding-left: 500px;
  --desktop-info-pages-padding-right: 150px;
  --desktop-product-page-padding-left: 200px;
  --desktop-product-page-padding-right: 300px;
  --hero-line-padding: 4rem;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --spacing-header-height: var(--header-height);
  --spacing-header-height-mobile: var(--header-height-mobile);
  --spacing-desktop-left-nav-width: var(--desktop-left-nav-width);
  --spacing-desktop-right-nav-width: var(--desktop-right-nav-width);
  --spacing-desktop-info-pages-padding-left: var(
    --desktop-info-pages-padding-left
  );
  --spacing-desktop-info-pages-padding-right: var(
    --desktop-info-pages-padding-right
  );
  --spacing-desktop-product-page-padding-left: var(
    --desktop-product-page-padding-left
  );
  --spacing-desktop-product-page-padding-right: var(
    --desktop-product-page-padding-right
  );
}

@font-face {
  src: url("../../public/fonts/FontsFree-Net-Athelas-BoldItalic.ttf")
    format("truetype");
  font-family: "Athelas Bold Italic";
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url("../../public/fonts/FontsFree-Net-Athelas-Italic.ttf")
    format("truetype");
  font-family: "Athelas Regular";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../../public/fonts/OptimaLTStd.otf") format("opentype");
  font-family: "Optima";
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body,
* {
  box-sizing: border-box;
  font-family: "Optima", serif;
}

a,
button {
  /* text-decoration: none; */
  will-change: filter;
  cursor: pointer;
}

a:hover,
button:hover {
  text-shadow: 1px 1px 2px rgb(195, 195, 195);
}

textarea,
input {
  outline: none;
}

section {
  padding: 0 20px;
  margin-top: 10vh;
  margin-bottom: 10rem;
  min-height: 90vh;
}
