@import "tailwindcss";

:root {
  --primary: oklch(0.2407 0.0349 31.44);
  --secondary: oklch(100% 0 0);
  --header-height: 10vh;
  --desktop-left-nav-width: 200px;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --spacing-header-height: var(--header-height);
  --spacing-desktop-left-nav-width: var(--desktop-left-nav-width);
}

@font-face {
  src: url("../../public/fonts/FontsFree-Net-Athelas-BoldItalic.ttf");
  font-family: "Athelas Bold Italic";
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url("../../public/fonts/FontsFree-Net-Athelas-Italic.ttf");
  font-family: "Athelas Regular";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../../public/fonts/happy-times-NG_italic_master_web.ttf");
  font-family: "Happy Times Italic";
  font-weight: 400;
  font-style: italic;
}

html,
body,
* {
  box-sizing: border-box;
  font-family: "Athelas Regular", serif;
}

a,
button {
  text-decoration: none;
  will-change: filter;
  cursor: pointer;
}

a:hover,
button:hover {
  text-shadow: 1px 1px 2px rgb(195, 195, 195);
}

textarea,
input {
  outline: none;
}

section {
  padding: 0 20px;
  margin-top: 10vh;
  margin-bottom: 10rem;
  min-height: 90vh;
}
