.buy-now-button {
    animation: none; 
    position: relative;
    z-index: 4;  
}

.smoke-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: rgba(255, 255, 255, 0.1); // Optional: slight white overlay
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); // For Safari support
    transition: all 0.3s ease; // Smooth transition
    pointer-events: none; // Allows clicking through
}

.blur {
    will-change: backdrop-filter, opacity;
    z-index: 3;
    opacity: 1;
    transform: opacity 1s ease;
}