$header-height: 10vh;
$gap: 20px;

.header {
    position: fixed;
    top: 0;
    height: $header-height;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    display: flex;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    
    .left {
        position: relative;
        display: flex;
        align-items: center;
        gap: $gap;
    }

    .middle {
        position: relative;
        display: flex;
        align-items: center;
    }

    .right {
        position: relative;
        display: flex;
        align-items: center;
        gap: $gap;
        div {
            display: inline-block;
        }
    }
}