$height: 50vmin;
$width: 50vmin;
$header-height: 10vh;

.perspective-box {
    perspective: 100vmin;
    display: flex;
    align-items: center;
    justify-items: center;
    width: $width;
    height: $height;
    margin-top: $header-height;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotateY(0deg)}

    100% {
        transform: rotateY(1turn)}
}